html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
   background: #283D3B; 
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1{
    text-align: center;
    font-size: 70px;
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: -20px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 100px;
    color: #C44536;
    font-family: 'Raleway', sans-serif;
}


.game-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 1200px;
  height: 1500px;
  border-radius: 30px;
  animation: scroll-background 5s linear infinite;
  position: relative;
}

.game .enemy {
  position: absolute;
  margin-left: -10px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 50px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  top:400px;
  position: absolute;
  background: #C44536;
  color: white;
  padding: 30px 70px;
  border-radius: 30px;
  text-align: center;
  animation: pop-in 1s;
}
.congratulations h1{
    color: white;
    font-size: 65px;
    font-weight: 100pxs;
}

.congratulations h2{
    color: #283D3B;
}

.btn1 {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 100px;
    border-radius: 20px;
    color:  #283D3B;
    font-family: 'Raleway', sans-serif;
  }


.game-over {
  display: none;
  top:400px;
  position: absolute;
  background: #C44536;
  color: white;
  padding: 30px 70px;
  border-radius: 30px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over h2{
    color: #283D3B;
}

.btn2 {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 100px;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
  color:  #C44536;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}