html,body{
    background-color: #283D3B;
    font-family: 'Abril Fatface', cursive;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
    scroll-behavior: smooth;
}

*{
    text-decoration: none !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    overflow: hidden;
}

.sliding-background {
    background-image: url(./images/cutiehack.png);
    animation: slide 5s linear infinite;
    background-size: 100%;
    background-repeat: repeat-y;
    min-height: 100vh;
    margin: 0px !important;
    position: relative;
}

@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    25%{
        transform: translate3d(-15px, 0, 0);
    }
    50%{
        transform: translate3d(-55px, 0, 0);
    }
    85%{
        transform: translate3d(-105px, 0, 0);
    }
    100%{
      transform: translate3d(-155px, 0, 0);
    }
}

form{
    margin-top: 60px;
    font-size: 100px;
    color: #EDDDD4;
    text-align: center;
    z-index: 100;
}

.bg{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

button{
    border: none;
    color: #EDDDD4;
    padding: 10px 32px;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #C44536;
    z-index: 100;
    font-size: 20px;

}

input[type=text] {
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    width: 35%;
}

input{
    border: none;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 25px;
    width: 20%;
    z-index: 100;
    color: #C44536;

}

.enterGoal{
    text-align: center;
}

#txtName{
    color: #EDDDD4;
    font-size: 30px;
    align-items: center;
}

.endButton{
    text-align: center;
    margin-bottom: 50px;
    z-index: 100;
}

.done{
    margin-top: 300px;
    align-items: center;
    color: #EDDDD4;
    font-size: 20px;
}